.post-container {
	margin: 50px 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 75%;
}

.post_card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 20vh;
	padding: 10px;
	background: #fff;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	// box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	img {
		height: 70px;
		width: 90px;
		border-radius: 5px;
		margin-right: 1rem;
	}
}

.post_card:hover {
	background: rgba(0, 0, 0, 0.1);
}

.post_desc {
	width: 70%;
	line-height: 20px;

	p {
		color: rgba(0, 0, 0, 0.6);
	}
}

.btn-div {
	display: flex;
	align-items: center;
	justify-content: center;

	button {
		outline: none;
		margin-bottom: 0.5rem;
		color: #de8446;
		border: none;
		background: none;
	}
}

.btn-div button:hover {
	cursor: pointer;
	border: 1px solid #de8446;
}

.chevron_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.select_div {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	line-height: 10px;

	h3 {
		margin-right: 0.5rem;
		color: rgba(0, 0, 0, 0.8);
	}
}

.search_bar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	// background: #fff;
	margin-bottom: 0.5rem;
	border-radius: 5px;
	// box-sizing: border-box;
	// box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
	input {
		width: 85%;
		border: none;
		outline: none;
		height: 40px;
		background: #fff;
		border-radius: 5px;
		padding-left: 5px;
	}

	button {
		background: #fff;
		border-radius: 5px;
		border: none;
		outline: none;
		height: 30px;
		width: 100px;
		box-sizing: border-box;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	}
}

.search_bar button:hover {
	cursor: pointer;
}

//addPost.scss

.add_container {
	margin: 50px 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 75%;

	h2 {
		font-weight: 500;
		color: rgba(0, 0, 0, 0.7);
	}
}

.form_container {
	display: flex;
	flex-direction: column;
	width: 80%;

	textarea {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		height: 150px;
		padding-left: 5px;
		background: #e7e7e7;
		outline: none;
		border: none;
		font: inherit;
	}
}

.input_div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1rem;

	input {
		height: 30px;
		width: 20%;
		padding-left: 5px;
		font: inherit;
		transition: 0.1s ease-in;
		font-weight: 500;
		outline: none;
		background: #e7e7e7;
		border: none;
	}
}

.input_div input:focus {
	border-left: 3px solid rgba(0, 0, 0, 0.7);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.upload {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 1rem;

	p {
		color: rgba(0, 0, 0, 0.5);
	}

	img {
		height: 200px;
		width: 250px;
		margin-top: 0.5rem;
		border: 1px dashed rgba(0, 0, 0, 0.2);
	}
}
